name: build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main", "feature/*" ]

jobs:
  tests:
    name: CI PHP ${{ matrix.php-versions }}
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php-versions: [ '8.1', '8.2' ]

    steps:

      - name: Checkout
        uses: actions/checkout@v3

      # see https://github.com/marketplace/actions/setup-php-action
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: json, mbstring
          coverage: none
          tools: composer:v2
        env:
          fail-fast: true

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Composer cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install project dependencies
        run: composer update --no-interaction --no-progress --prefer-dist

      - name: Set environment file
        run: php -r "copy('.env.example', '.env');"

      - name: Set Laravel application key
        run: php artisan key:generate

      - name: Execute sw:sync:sat:catalogs
        run: php artisan sw:sync:sat:catalogs
        env:
          DB_DATABASE_CATALOGS: sqlite_catalogs
          DATABASE_URL_CATALOGS: ${{ github.workspace }}/storage/app/db/catalogs.sqlite

      - name: Install NPM dependencies
        run: npm i

      - name: Compile assets
        run: npm run build

      - name: Tests (phpunit)
        run: php artisan test

      - name: PHP Insights
        run: php artisan insights --no-interaction --ansi --format=github-action

      - name: Static analysis
        run: vendor/bin/phpstan analyse --verbose --no-progress --no-interaction --ansi
